header {
    background: #004D81;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header * {
    color: white;
}
header a {
    text-decoration: none;
    font-size: 22px;
}
header a:first-child, header a:nth-child(2) {
    margin-right: 60px;
}
.header_menu {
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}