.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
content {
    width: 1800px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.content_fill {
    width: 50%;
    
}
.content_fill h1 {
    font-size: 36px;
}
.content_fill hr {
    width: 70px;
    height: 4px;
    outline: none;
    border: none;
    background: black;
    margin-bottom: 30px;
}
.content_fill span {
    font-size: 20px;
}
content + h2, .slider + h2 {
    margin-bottom: 40px;
    font-size: 30px;
}
.slider {
    width: 100%;
    height: 600px;
    background-image: url('https://orendar.com/data/uploads/blog/%D0%98%D0%B2%D0%B0%D0%BD%D0%BE%20%D0%A4%D1%80%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%81%D0%BA/ivano-frankivsk-vyd-iz-lehendy.jpg');
    background-attachment: cover;
    background-size: 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.slider img {
    opacity: .7;
    transition: .3s;
    cursor: pointer;
}
.slider img:hover {
    opacity: 1;
}
.places {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.place {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.place:first-child , .place:nth-child(2) {
    margin-right: 200px;
}
.place_img {
    height: 300px;
    width: 100%;
    background-attachment: cover;
    margin-bottom: 10px;
}
.place_img:first-child {
    background-image: url("https://nadiya.hotels-of-ukraine.com/data/Photos/767x460/9183/918333/918333886.JPEG");
}
.place:nth-child(2) > .place_img {
    background-image: url("http://zaklad.if.ua/Content/Companies/12330/03.jpg");
}
.place:nth-child(3) > .place_img {
    background-image: url("https://discover-ukraine.info/uploads/i/i/50bcc9065d8767.94468847.1201.jpg");
}
.place span {
    margin-bottom: 15px;
}
.price {
    align-self: flex-start;
    display: flex;
    align-items: center;
    border-left: 5px solid tomato;
    font-size: 16px;
    padding-left: 5px;
}
.rotate_arrow {
    transform: rotate(180deg);
}